<section class="header">
       <nav>
            <section class="company">
                <a href="../../../assets/logo.png">PhoneMasters</a>
            </section>
            <div class="nav-links">
                <ul>
                    <li><a href="">Home</a></li>
                    <button (click)="gotoProducts()">Products</button>
                    <button (click)="gotoContact()">Contact</button>
                    <button (click)="gotoInventory()">Go to Inventory</button>
                </ul>
            </div>
        </nav>
  </section>
     



  