
<div mat-dialog-title>
    <h1>Products Form</h1>
 </div>
 <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
 <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="Ex. Maria" formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Ex. Popescu" formControlName="lastName">
      </mat-form-field>
    </div>
 

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Ex. popescumaria@yahoo.com" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-radio-group aria-label="Select an option" formControlName="status">
        <mat-label><b>Status</b></mat-label>
        <mat-radio-button value="New">New</mat-radio-button>
        <mat-radio-button value="Used">Used</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Aspect</mat-label>
        <mat-select formControlName="aspect">
          <mat-option *ngFor="let val of aspect" [value]="val">{{val}}

          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="Ex. iPhone 12" formControlName="prodName">
      </mat-form-field>
      
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Price (RON)</mat-label>
        <input matInput placeholder="Ex. 2500" type="number" formControlName="price">
      </mat-form-field>
    </div>
  </div>



  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="accent" type="submit">{{data ? 'Update' : 'Save'}}</button>
 </div> 

</form>

 
     

