
<div class="background">

</div>
<section class="products-photos">
    <h1>Our Bestsellers</h1>

    <div class="row">
        <div class="products-photos-col">
            <img src="../../../assets/12p.png">
            <div class="layer">
                <h3>iPhone 12 </h3>
            </div>
        </div>
        <div class="products-photos-col">
            <img src="../../../assets/ip14.jpg">
            <div class="layer">
                <h3>iPhone 14 </h3>
            </div>
        </div>
        <div class="products-photos-col">
            <img src="../../../assets/ip13p.png">
            <div class="layer">
                <h3>iPhone 13 Pro </h3>
            </div>
        </div>
    </div>
</section>
<section class="products">
    <h1>New Releases</h1>

    <div class="row">
        <div class="products-col">
            <h3>iPhone 14</h3>
            <p> Color: Blue, Violet, Green, Midnight<br>
                Screen: 6,1"<br>
                Resolution: 1170 x 2532<br>
                Chip: A15 Bionic<br>
                RAM: 6GB<br>
                Front camera: 12MP<br>
                Back camera: 12 MP Wide, 12 MP Ultrawide 

            </p>
        </div>
        
        <div class="products-col">
            <h3>iPhone 14 Pro</h3>
            <p> 
                Color: Blue, Purple, Silver, Gold, Green, Midnight<br>
                Screen: 6,1"<br>
                Resolution: 1179 x 2556<br>
                Chip: A16 Bionic<br>
                RAM: 6GB<br>
                Front camera: 12MP<br>
                Back camera: 48 MP Wide, 12 MP Ultrawide, 12 MP Telephoto
            </p>
        </div>
        <div class="products-col">
            <h3>iPhone 13 Pro</h3>
            <p> 
                Color: Blue, Silver, Gold, Green, Grey<br>
                Screen: 6,1"<br>
                Resolution: 1170 x 2532<br>
                Chip: A15 Bionic<br>
                RAM: 6GB<br>
                Front camera: 12MP<br>
                Back camera: 12 MP Wide, 12 MP Ultrawide, 12 MP Telephoto
            </p>
        </div>
    </div>
</section>


