<!--p>home works!</p-->
<div class="principal">
    <div class="container">
         <div class="image">
            <img src="../../../assets/phone.jpg">
                <div class="middle">
                    <div class="text1">The iPhone is a smartphone made by Apple that combines a computer, iPod, digital camera and cellular phone into one device with a touchscreen interface. The iPhone runs the iOS operating system, and in 2021 when the iPhone 13 was introduced, it offered up to 1 TB of storage and a 12-megapixel camera.</div>
                 </div>
         </div>
    </div>
    <div class="row">
        <div class = "text">
            <h3 class= "animate-character">Welcome!</h3>
        </div>
    </div>
</div>
  
