
.main {
  background-image: url(../../../assets/FIgVXb.jpg);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 880px;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.content h1 {
  font-size: 30px;
  background-color:  #F7809D;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.content h2 {
  font-size: 23px;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #AC92C5 0%, #75F2CC 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.content p {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

.btn {
  font-size: 30px;
  background-image: linear-gradient(to top, purple 0%, violet 100%);
  padding: 14px 32px;
  border: none;
  color: #fff;
  margin-top: 50px;
  position: relative;
  text-decoration: none;
}

.btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: black;
  transition: all 0.35s;
  text-decoration: none;
}

.btn:hover::after {
  width: 100%;
}

.img-container {
  text-align: center;
}

#_img {
  height: 100%;
  width: 100%;
  
}
@keyframes vibrate {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(-1deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(1deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(1deg); }
  90% { transform: rotate(0deg); }
  100% { transform: rotate(-1deg); }
}

#_img:hover {
  animation: vibrate 0.5s;
  animation-iteration-count: infinite;
}


@media (max-width:700px) {
  .container {
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      height: 90vh;
      width: 100%;
  }
  .content {
      text-align: center;
      margin-bottom: 60px;
  }
  .content h1 {
      font-size: 30px;
      margin-top: 2rem;
  }
  .content h2 {
      font-size: 25px;
  }
  .content p {
      font-size: 30px;
      margin-top: 10px;
  }
}
